.auth-wrap {
    max-width: 560px;
    padding: 0 1rem;
    margin: 2rem auto;
}

.auth-card {
    background: rgba(0,0,0,0.4);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    color: white;
}

.auth-card h2 {
    margin-bottom: .5rem;
}

.auth-card p {
    opacity: 0.9;
    margin-bottom: 1.25rem;
}

.auth-form label {
    display:block; font-weight:600;
    margin: .75rem 0 .25rem;
}

.auth-form input {
    width: 100%;
    padding: .9rem 1rem;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.15);
    background: rgba(0,0,0,0.5);
    color: white;
    outline: none;
    font-family: unset;
}

.auth-form input:focus {
    background: rgba(0, 0, 0, 0.7);
}


.auth-actions {
    display:flex;
    gap:.75rem;
    align-items:center;
    margin-top: 1rem;
    flex-direction: column;
}

span.muted{
    margin: 0 auto;
}